<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pe.edu.sise.applinea1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_linea1_launcher_2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_linea1_launcher_2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MenuPrincipalActivity"
            android:screenOrientation="portrait"
            android:noHistory="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label=""
            android:noHistory="true" />
        <activity
            android:name=".splashActivity"
            android:label=""
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".RegistroActivity"
            android:label="Datos Completos"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".Registro2Activity"
            android:label="Ingrese su Contraseña"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".Registro3Activity"
            android:label="Sincronice Tarjeta NFC">
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecargaVirtualActivity"
            android:label="Datos de Tarjeta"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".PagoRealizadoActivity"
            android:label="Pago Realizado"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".Lista_Estaciones"
            android:label="Estaciones"
            android:noHistory="true"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".activity_calcular_viaje"
            android:label="Calcular Viaje"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activity_resultado_calcular_viaje"
            android:label="Linea 1"
            android:screenOrientation="portrait"
            />
        <activity android:name=".consulta_saldo"
            android:label="Consultar Saldo"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".RecargaActivity"
            android:label="Recargar Tarjeta"
            android:screenOrientation="portrait"
            />
        <activity android:name=".updatePasajeroActivity"
            android:label="Actualizar Pasajero"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Detalle_Estacion"
            android:label="Detalle Estación"
            android:noHistory="true"
            android:screenOrientation="portrait"
            />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:noHistory="true"
            android:label="Mapa de Estación" />
        <activity android:name=".ContactanosActivity"
            android:label="Contáctanos"></activity>
    </application>

</manifest>